import React from 'react'

export interface %COMPONENT%Props extends any {
  children?: React.ReactNode
}

const %COMPONENT%: (props: %COMPONENT%Props) => JSX.Element = ({ children, ...rest }) => {
  return <div {...rest}>{children}</div>
}

export default %COMPONENT%
